<%- include header.ejs %>
<body>
    <div>
        <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br/><br/>
        <img class="responsive-img"  src="https://i.imgur.com/ryXzUC5.jpg"><br>
        <div class="left-align light">
          <h5>Welcome Pilates Enthusiasts!</h5>
        </div><br>
        <div class="left-align light">
          <p>I’m Lori Navarro and I have the pleasure and privilege to teach Pilates in the beautiful town of Claremont, California.
          I wanted another way of relieving the stresses of being a Surgical Intensive Care Nurse. I was introduced to Pilates in 2004 and fell in love with the method. Wanting to learn more,  I received my formal education and training in 2010 through Body Arts and Sciences International (BASI) under the tutelage of Rael Isacowitz, the founder of Body Arts and Science International. I'm a firm believer in Continuing Education, and I attend yearly Pilates workshops to better educate myself and my clients on the true healing that Pilates can be on the mind and body.  I'm Pilates Method Alliance (PMA) Certified and have multiple certifications in Pre/Post Natal Pilates, Booty Barre, Indorow, MOTR and I am also an ACE Group Fitness instructor. I'm a Lover of Movement and believes there are so many ways of expressing it. Pilates is one of the ways I love to move and what makes my body feel the best. What I especially love about Pilates is how it combines elements of gentleness and grace with strength and power. I enjoy working with a wide variety of clientele and customize each session to help the individual reach their specific health goals. I love making exercise fun, not work and the words "I CAN'T" slowly disappear from my clients’ vocabulary when it comes to challenging workouts!  </p>
         <p> I look forward to meeting you!</p>
         <p class="signature">Lori Navarro</p><br>
         <h5>Qualifications</h5>
              <ul class="collection">
                  <li class="collection-item"><i class="tiny material-icons">keyboard_arrow_right</i>
  Body Arts and Sciences International and Pilates Method Alliance Certified Pilates Instructor</li>
                  <li class="collection-item"><i class="tiny material-icons">keyboard_arrow_right</i>ACE Group Fitness Instructor</li>
                  <li class="collection-item"><i class="tiny material-icons">keyboard_arrow_right</i>Pre and Post Natal Pilates Specialist and  Pilates for Injuries and Pathologies Certification</li>
                  <li class="collection-item"><i class="tiny material-icons">keyboard_arrow_right</i>Booty Barre, TRX, Indorow, MOTR Certified Instructor</li>
                  <li class="collection-item"><i class="tiny material-icons">keyboard_arrow_right</i>Registered Nurse and BS Degree in International Business/French Minor</li>
                  <li class="collection-item"><i class="tiny material-icons">keyboard_arrow_right</i>CPR/AED Certified</li>
              </ul>
  
         </div>
        <br><br>
  
      </div>
    </div>
  
      </div>
</body>
<%- include footer.ejs %>
</hmtl>