<%- include header.ejs %>
<body>
        <div class="container">
                <div class="section">
                   <div class="col s12 center">
                   <h4>Contact Me</h4>
                       <p>Thank you for visiting my website. If you're interested in private pilates instruction or have any questions or comments, please feel free to contact me at the Phone number or email below.
   </p><br><br><br>
                </div>
                <div class="container">
       <div class="section">
         <div class="row">
           <div class="col s12 m4">
             <div class="icon-block">
               <h2 class="center light-blue-text"><i class="material-icons">gps_fixed</i></h2>
               <h5 class="center">Location</h5>
   
               <p class="light">Claremont,CA</p>
             </div>
           </div>
   
           <div class="col s12 m4">
             <div class="icon-block">
               <h2 class="center light-blue-text"><i class="material-icons">email</i></h2>
               <h5 class="center">Email</h5>
   
               <p class="light">rejeuvepilates@yahoo.com</p>
             </div>
           </div>
   
           <div class="col s12 m4">
             <div class="icon-block">
               <h2 class="center light-blue-text"><i class="material-icons">phone_iphone</i></h2>
               <h5 class="center">Phone Number</h5>
              <p class="light">(909) 568-7295</p>
             </div>
           </div>
         </div>
   
       </div>
       <br><br>
     </div>
            
                </div>
                <div class="col s12 m4">
             <div class="icon-block">
               <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
               <h5 class="center">Social Media</h5>
   
               <p class="center light">Come checkout my <a href="https://www.instagram.com/rejeuvepilates">Instagram</a></p>
             </div>
           </div>
              
            </div>
    </body>
    <%- include footer.ejs %>
    </html>