<%- include header.ejs %>
  <body class= "bg">
   <div class="container">
     <br><br><br><br><br><br>
     <img class="logo1 responsive-img" src="https://i.imgur.com/vgOlkaz.png>">
     <div class="row center-align">
     <a href= "/home" class="waves-effect waves-light btn" id="starbtn"><i class="material-icons right">keyboard_arrow_right</i>Let's Get Started!</a>
     </div>
     
   </div>

   
  
</body>

</html>
