<%- include header.ejs %>
  <body>
    <div class="container" >
      <div class="section">
          <div class="slider">
              <ul class="slides">
                <li>
                  <img src="https://i.imgur.com/sOXym5p.jpg"> <!-- random image -->
                  <div class="caption center-align">
                    <h3></h3>
                    <h5 class="light grey-text text-lighten-3"></h5>
                  </div>
                </li>
                <li>
                  <img src="https://i.imgur.com/aRZSUqX.jpg"> <!-- random image -->
                  <div class="caption left-align">
                    <h3></h3>
                    <h5 class="light grey-text text-lighten-3"></h5>
                  </div>
                </li>
                <li>
                  <img src="https://i.imgur.com/7FdnoTK.jpg"> <!-- random image -->
                  <div class="caption right-align">
                    <h3></h3>
                    <h5 class="light grey-text text-lighten-3"></h5>
                  </div>
                </li>
                <li>
                  <img src="https://i.imgur.com/RAFcsC9.jpg"> <!-- random image -->
                  <div class="caption center-align">
                    <h3></h3>
                    <h5 class="light grey-text text-lighten-3"></h5>
                  </div>
                </li>
              </ul>
            </div>
          
            <p class="left-align ">Pilates is a systematic form of exercise comprised of over 600 deliberate movements designed to engage the mind while conditioning the whole body. The movements combine elements of strength, flexibility and stabilization to bring the body into greater alignment, balance and harmony. <br><br>
          Pilates is a movement form that improves your quality of life in many ways. Pilates can be performed on the mat as well as the apparatus with the repertoire ranging from the novice to advance level and when the exercises are done properly with good form, you will see results!
          </p> <br> <br>
          <h4> Benefits of Pilates</h4>
              <ul class="collection">
                  <li class="collection-item left-align"><i class="tiny material-icons">check</i>Improved posture alignment</li>
                  <li class="collection-item left-align"><i class="tiny material-icons">check</i>Strength without bulk</li>
                  <li class="collection-item left-align"><i class="tiny material-icons">check</i>Body Awareness, The Mind and Body connection</li>
                  <li class="collection-item left-align"><i class="tiny material-icons">check</i>Increased flexibility</li>
                  <li class="collection-item left-align"><i class="tiny material-icons">check</i>Low back pain prevention and management </li>
                  <li class="collection-item left-align"><i class="tiny material-icons">check</i>Weight loss</li>
                  <li class="collection-item left-align"><i class="tiny material-icons">check</i>Beautiful and long lean muscles</li>
                  <li class="collection-item left-align"><i class="tiny material-icons">check</i>Core strength</li>
                  <li class="collection-item left-align"><i class="tiny material-icons">check</i>Injury prevention</li>
                  <li class="collection-item left-align"><i class="tiny material-icons">check</i>Improved circulation</li>
              </ul>
          </div>
        </div>
  
      </div>
    </div> 
    <script> $(document).ready(function(){
        $('.slider').slider();
      });</script>
  
</body>
<%- include footer.ejs %>
</html>
