<%- include header.ejs %>
<body>

    <div class="slider fullscreen">
        <ul class="slides">
          <li>
            <img class= "studiopic" src="https://i.imgur.com/DKguFZm.jpg"> <!-- random image -->
            <div class="caption left-align">
              <h3>My Studio</h3>
              <h5 class="light grey-text text-lighten-3"></h5>
            </div>
          </li>
          <li>
            <img  src="https://i.imgur.com/Oy7HC0D.jpg"> <!-- random image -->
            <div class="caption left-align">
              <h3></h3>
              <h5 class="light grey-text text-lighten-3"></h5>
            </div>
          </li>
          <li>
            <img src="https://i.imgur.com/jIfk162.jpg"> <!-- random image -->
            <div class="caption right-align">
              <h3></h3>
              <h5 class="light grey-text text-lighten-3"></h5>
            </div>
          </li>
          <li>
            <img class="studiopic4" src="https://i.imgur.com/GaPvq0e.jpg"> <!-- random image -->
            <div class="caption center-align">
              <h3></h3>
              <h5 class="light grey-text text-lighten-3"></h5>
            </div>
          </li>
        </ul>
      </div>
      <script>$(document).ready(function(){
        $('.slider').slider();
      });
          </script>
</body>

<%- include footer.ejs %>
</html>