body {background:  white;
}

p, h4, h5, th, td, li {
  font-family: 'Cormorant Garamond', serif;

}

p, li, td {
  font-size: 20px;
}

.signature {
  font-family: 'Alex Brush', cursive;
  font-size: 30px;
}
a {
  color: #00B7FF;
  font-size: 30px;
}

.nav-wrapper {
  background-color: #A5F2F3;


}
nav ul a {
  padding: 0px 92px !important;
}

.material-icons {
color: purple;
}
.tab {
  color: black;

}

.logo {
  height: 50%;
  width: 50%;
}

.responsive-img {
  position: relative;
  box-shadow: 5px 4px 9px 1px
}

.p.left-align.light {
  font-family: 'Poppins', sans-serif;
  
}

.resize {
  width: 300px;
  height: 480px;
}

.collection-item{
  background: white !important;

}

p {
  color: black;
}

h4 {
  color: black;
  
}

.page-footer {
  background-color: #A5F2F3!important;
}

.slider .slides .studiopic {
  height: 150% !important;
  width: 100% !important;
  background-size: cover;
  background-position: center;
  
}

.studiopic1 {
  height: 130% !important;
  width: 100% !important;
  background-size: cover;
  background-position: center;
  
}

.responsive-img {
  display: block;
  margin: 0 auto;
}

#aboutpic {
  height: 70%;
  width: 70%;
}

.studiopic4 {
  height: 123% !important;
}